{default $view = NULL}
{default $content = NULL}
{default $imageId = NULL}
{default $width = 100}

<section n:class="box, 'view-'.$view">
	<div class="box-in">
		{if $imageId}
			{var $small = wp_get_attachment_image_src($imageId, xs)}
			{var $large = wp_get_attachment_image_src($imageId, xl)}
			{var $title = get_post($imageId)->post_title}

			{var $sizes = '(min-width: 992px) '.ceil(0.7*$width).'vw, 100vw'}

			<a href="{$large[0]}" data-lightbox="grid" data-title="{$title}">
				{include "image.latte",
					imageId => $imageId,
					class => box-image,
					sizes => $sizes,
				}
			</a>
		{else}
			<section class="wysiwyg">
				{$content}
			</section>
		{/if}
	</div>
</section>
