{default $Post = NULL}

{var $boxes = get_field($Post, boxes)}

<div class="boxes" n:if="gettype($boxes) === array">
	<div class="boxes-in">
		{foreach $boxes as $box}
			{var $imageId = $box[type] === image && isset($box[image]) && isset($box[image][0]) ? $box[image][0] : NULL}

			{if $imageId || isset($box[text])}
				{capture $content}
					{if $imageId}
						{get_the_title($imageId)}
					{else}
						{$box[text]|noescape}
					{/if}
				{/capture}
				{include "box.latte",
					view => $box[size],
					content => $content,
					imageId => $imageId,
				}
			{/if}
		{/foreach}
	</div>
</div>
