{default $class = ''}
{default $sizes = ''}
{default $imageId = NULL}

{if $imageId}
	{var $alt = get_post_meta($imageId, '_wp_attachment_image_alt', true)}

	{var $images = [
		xl => wp_get_attachment_image_src($imageId, xl),
		l => wp_get_attachment_image_src($imageId, l),
		m => wp_get_attachment_image_src($imageId, m),
		s => wp_get_attachment_image_src($imageId, s),
		xs => wp_get_attachment_image_src($imageId, xs),
		xxs => wp_get_attachment_image_src($imageId, xxs),
		xxxs => wp_get_attachment_image_src($imageId, xxxs),
	]}

	{var $srcset = []}
	{foreach $images as $image}
		{var $srcset[] = $image[0] . ' ' . $image[1] . 'w'}
	{/foreach}
	{var $srcset = implode(', ', $srcset)}

	{var $w = $images[m][1]}
	{var $h = $images[m][2]}

	<div class="picture-wrap">
		<div class="picture-height" style="padding-top: {($h/$w*100)|noescape}%">
			<picture class="picture">
				<source sizes="{$sizes}" srcset="{$srcset}">
				<img n:class="$class" src="{$images[m][0]}" alt="{$alt}">
			</picture>
		</div>
	</div>
{/if}
