{var $currentPageId = is_page() ? get_queried_object()->ID : 0}
{var $currentPostType = get_post_type()}
{var $currentTemplate = substr(get_page_template_slug(), 9, -4)}

<nav class="menu">
	<h1>
		{var $text = get_bloginfo('name')}
		<a href="{home_url()}" data-text="{$text}">
			{$text}
		</a>
	</h1>

	{var $locations = get_nav_menu_locations()}
	{if isset($locations['sitenav'])}
		{var $menu = get_term($locations['sitenav'], 'nav_menu')}
		{var $menuItems = wp_get_nav_menu_items($menu->term_id)}

		{each $menuItems}
			{var $isActive = FALSE}
			{if $currentPageId == $Post->object_id}
				{var $isActive = TRUE}
			{elseif get_page_template_slug((int)$Post->object_id) === 'template-' . $currentPostType . '.php'}
				{var $isActive = TRUE}
			{/if}
			<li>
				<a n:class="$isActive ? is-active" href="{$Post->url}">
					{$Post->title}
				</a>
			</li>
		{/each}

	{/if}

</nav>
