{default $Post = NULL}

{var $timeline = get_field($Post, timeline)}
{var $rowEventsHTML = []}
{var $rowNoSpace = FALSE}

<div class="timeline" n:if="gettype($timeline) === array">
	{foreach $timeline as $event}
		{continueIf !isset($event[type])}
		{capture $eventHTML}
			{var $width = isset($event[width]) ? $event[width] : 100}
			{var $width = $width <= 0 ? 1 : ($width > 100 ? 100 : $width)}
			{var $offset = isset($event[offset]) ? $event[offset] : 0}
			{var $offset = $offset < 0 ? 0 : ($offset > 100 ? 100 : $offset)}
			<div n:class="timeline-event, 'timeline-event-w'.$width, 'timeline-event-o'.$offset">
				{var $imageId = $event[type] === image && isset($event[image]) && isset($event[image][0]) ? $event[image][0] : NULL}
				{var $content = ''}

				{if $imageId || isset($event[text])}
					{capture $content}
						{if $imageId}
							{get_the_title($imageId)}
						{else}
							{$event[text]|noescape}
						{/if}
					{/capture}
				{/if}
				{include "box.latte",
					view => event,
					content => $content,
					imageId => $imageId,
					width => $width,
				}
			</div>
		{/capture}

		{var $event[add_to_next] = isset($event[add_to_next]) ? $event[add_to_next] : FALSE}
		{var $rowEventsHTML[] = $eventHTML}

		{var $localRowNoSpace = isset($event[no_space_below]) ? $event[no_space_below] : FALSE}
		{var $rowNoSpace = $localRowNoSpace ? TRUE : $rowNoSpace}

		{if !$event[add_to_next]}
			<div n:class="timeline-row, $rowNoSpace ? timeline-row-nospace">
				{foreach $rowEventsHTML as $eventHTML}
					{$eventHTML}
				{/foreach}
			</div>
			{var $rowEventsHTML = []}
			{var $rowNoSpace = FALSE}
		{/if}
	{/foreach}
</div>
