/* ----- VARIABLES ----- */
@baseFontSize: 16px;
@border: 1px solid;
@grid: 2em;
@backgroundColor: #B0AEAF;
@backgroundImageSmall: "../images/background/768.jpg";
@backgroundImageMedium: "../images/background/1200.jpg";
@backgroundImageLarge: "../images/background/1920.jpg";

@break320: ~"(min-width: 320px)";
@break480: ~"(min-width: 480px)";
@break768: ~"(min-width: 768px)";
@break992: ~"(min-width: 992px)";
@break1200: ~"(min-width: 1200px)";
@break1300: ~"(min-width: 1300px)";
@break1400: ~"(min-width: 1400px)";
/* ----- // VARIABLES ----- */


/* ----- CSS RESET ----- */
html {
	margin-top: 0 !important;
	background-color: @backgroundColor;
	overflow: hidden;
	height: 100%;
}
body, div, p {
	margin: 0;
	padding: 0;
	font-family: 'Bodoni Antiqua', TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	font-weight: 300;
}

body {
	font-size: @baseFontSize;
	overflow: auto;
	height: 100%;

	@media @break992 {
		font-size: unit(@baseFontSize) / (992 / 100vw)
	}
}

a {
	text-decoration: none;
	color: black;
}
/* ----- // CSS RESET ----- */

@import "abstract/background.less";
@import "abstract/fonts.less";

@import "parts/article";
@import "parts/box";
@import "parts/boxes";
@import "parts/grid";
@import "parts/layout";
@import "parts/menu";
@import "parts/pagination";
@import "parts/picture";
@import "parts/timeline";
@import "parts/title";
@import "parts/wysiwyg";
