.background(@break) {
	& when (@break = 0) {
		background-color: @backgroundColor;
		background-image: url(@backgroundImageSmall);
		background-position: center;
		background-size: cover;
	}

	& when (@break = 1) {
		@media @break768 {
			background-image: url(@backgroundImageMedium);
		}
	}

	& when (@break = 2) {
		@media @break992 {
			background-image: url(@backgroundImageMedium);
		}
	}

	& when (@break = 3) {
		@media @break1200 {
			background-image: url(@backgroundImageLarge);
		}
	}
}
