.box {
	padding: @grid / 2;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	align-items: stretch;

	&-in {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border: @border;
		width: 100%;
		overflow: hidden;
	}

	&-image {
		position: relative;
		width: 100%;
		transition: transform 0.3s;
	}

	@media @break992 {
		&.view-small {
			width: 100% / 3;
		}

		&.view-medium {
			width: 100% / 3 * 2;
		}

		&.view-event {
			padding: 0;

			.wysiwyg {
				padding: @grid / 2;
			}
		}

		&.view-event & {

			&-in {
				margin-right: -1px;
			}
			.timeline-row-nospace + .timeline-row &-in {
				margin-right: -1px;
				margin-top: -1px;
			}

		}


		a:hover &-image,
		a:focus &-image {
			transform: scale(1.1);
		}
	}
}
