.grid {
	padding: @grid / 2;

	&-in {}

	&-item {
		position: relative;
		box-sizing: border-box;
		width: 100%;

		&:before {
			display: block;
			padding-top: 100%;
			content: "";
		}

		&-in {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: @grid / 2;
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;
		}
	}

	&-image {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0.5;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: transform 0.3s, opacity 0.3s;
	}

	&-title {
		visibility: hidden;
		position: relative;
		margin: 0;
		width: 100%;
		font-size: 1.25em;
		transition: opacity 0.3s;
	}

	&-link {
		display: flex;
		align-items: center;
		padding: @grid;
		text-align: center;

		&,
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&:before {
			z-index: 1;
			content: "";
			border: @border;
		}
	}


	@media @break480 {
		&-in {
			display: flex;
			flex-wrap: wrap;
		}

		&-item {
			width: 50%;
		}
	}


	@media @break992 {
		&-title {
			opacity: 0;
		}

		&-image {
			opacity: 1;
		}

		&-link:hover,
		&-link:focus {

			.grid-title {
				opacity: 1;
			}

			& ~ .grid-image {
				opacity: 0.4;
				transform: scale(1.1);
			}

		}
	}


	@media @break1200 {
		&-item {
			width: 100% / 3;
		}
	}
}
