.layout {
	position: relative;
	min-height: 100vh;

	&:after {
		position: fixed;
		pointer-events: none;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		.background(0);
		.background(1);
		content: "";
	}

	&-left {
		padding: @grid;
		overflow: auto;
	}

	&-content {
		position: relative;
		z-index: 1;
		overflow: auto;
	}

	@media @break992 {
		@padding: 2.5em;
		@menuWidth: 14em;

		.background(0);
		.background(2);
		.background(3);
		background-attachment: fixed;

		&:after {
			display: none;
		}

		&:before {
			position: fixed;
			z-index: 2;
			pointer-events: none;
			top: @padding;
			right: @padding;
			bottom: @padding;
			left: @menuWidth;
			border: @border;
			content: "";
		}

		&-top,
		&-bottom,
		&-left {
			position: fixed;
			z-index: 2;
			overflow: hidden;
			pointer-events: none;

			&:before {
				position: absolute;
				width: 100vw;
				height: 100vh;
				content: "";
				.background(0);
				.background(2);
				.background(3);
			}
		}

		&-left {
			z-index: 3;
		}

		&-top {
			top: 0;
			left: 0;
			right: @padding / 2;
			height: @padding;

			&:before {
				top: 0;
				left: 0;
			}
		}

		&-bottom {
			left: 0;
			bottom: 0;
			right: @padding / 2;
			height: @padding;

			&:before {
				bottom: 0;
				left: 0;
			}
		}

		&-left {
			top: 0;
			left: 0;
			bottom: 0;
			width: @menuWidth;
			box-sizing: border-box;
			padding: @padding (@grid / 2) @padding @padding;

			&:before {
				top: 0;
				left: 0;
			}
		}
		&-content {
			padding: @padding @padding @padding @menuWidth;
			box-sizing: border-box;
			min-height: 100vh;
			display: flex;
			align-items: center;

			&-in {
				position: relative;
				padding: 1px;
				width: 100%;
			}
		}
	}
}
