@menu-item-spacing: 0.625em;

.menu {
	position: relative;
	z-index: 1;
	text-align: right;
	font-weight: 400;
	text-transform: lowercase;
	list-style: none;
	pointer-events: auto;

	h1 {
		@letter-spacing: 0.15em;

		margin: 0 (-1 * @letter-spacing) 0.5em 0;
		font-size: 2em;
		letter-spacing: @letter-spacing;
		word-spacing: 100vw;

		a {
			@vertical-shift: 1px;

			&:hover,
			&:focus {

				@media @break992 {
					filter: blur(0.1em);
				}
			}
		}

		@media @break992 {
			font-size: 1.4em;
			margin-bottom: 3em;
		}
	}

	li {
		display: block;
		text-align: right;
		font-size: 1.25em;

		@media @break992 {
			font-size: 1em;
		}

		a {
			display: inline-block;
			padding-top: @menu-item-spacing;

			@media @break992 {
				filter: blur(0.1em);
				padding: (@menu-item-spacing / 1.3) @menu-item-spacing;
				margin: 0 (-1 * @menu-item-spacing);
			}

			&:hover,
			&:focus,
			&.is-active {
				&:before {
					content: "\00b7";
				}

				@media @break992 {
					filter: none;

					&:before {
						display: none;
					}
				}
			}
		}
	}
}
