.picture {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	&-wrap {
		position: relative;
		width: 100%;
	}

	&-height {}

	img {
		display: block;
		width: 100%;
		height: 100%;
	}
}
