.timeline {
	margin: @grid / -2;
	padding: @grid;

	&-row {
		//
	}

	&-event {
		//
	}

	@media @break992 {
		margin: 0;

		&-row {
			margin-bottom: 1%;
			zoom: 1;

			&:before,
			&:after {
				content: '';
				display: table;
			}
			&:after{
				clear: both;
			}

			&-nospace {
				margin-bottom: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		&-event {
			float: left;

			.generate-wo(100);
			.generate-wo(@n, @i: 0) when (@i =< @n) {
				&-w@{i} {
					width: (@i * 1%);
				}
				&-o@{i} {
					padding-left: (@i * 1%);
				}
				.generate-wo(@n, (@i + 1));
			}
		}
	}
}
