.title {
	position: relative;
	z-index: 1;
	font-size: 1.5em;
	font-family: Segoe, sans-serif;
	text-align: center;

	&.view-invert {
		color: #ffffff;
		font-size: 1em;
	}

	&-background {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: #000000;
	}
}
