.wysiwyg {
	padding: @grid;
	overflow: auto;

	img {
		max-width: 100%;
	}

	a {
		font-style: italic;
		color: inherit;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	@media @break1300 {
		font-size: 0.8em;
	}

	@media @break1400 {
		font-size: 0.75em;
	}
}
