<!DOCTYPE html>

{default $description = get_bloginfo('description')}
{default $activeLang = 'en'}

<html lang="{$activeLang}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	{capture $title}{ifset title}{include title|striptags|strip}{/ifset}{/capture}
	<title>{if $title}{$title} | {/if}{get_bloginfo('name')}</title>

	<meta name="description" content="{$description}">

	{* {use_google_fonts([ 'Lato:400,700,900:latin,latin-ext', 'Playfair+Display:700italic:latin,latin-ext' ])} *}

	{wp_head()}

	<link rel="stylesheet" href="{$assetsPath}/styles/{$buildstamp}index.css" media="screen">

	<link rel="icon" type="image/png" href="{$assetsPath}/images/favicon.png" sizes="16x16">
	<link rel="icon" type="image/png" href="{$assetsPath}/images/favicon-32x32.png" sizes="32x32">

	<!--[if lt IE 9]>
	<script src="{$assetsPath}/node_modules/lt-ie-9/lt-ie-9.min.js"></script>
	<![endif]-->

	<link href="{$assetsPath}/node_modules/lightbox2/dist/css/lightbox.css" rel="stylesheet">

	<meta property="og:image" content="{$baseUrl}{$assetsPath}/images/share-cover.png">
	{each}
		{if has_post_thumbnail()}
			<meta property="og:image" content="{$Post|wp_thumbnail:'xl'}">
		{/if}
	{/each}

</head>
<body>

	{$mangoSnippet}

	<div class="layout">
		<div class="layout-frame">
			<div class="layout-left">
				{include "components/menu.latte"}
			</div>
			<div class="layout-top"></div>
			<div class="layout-right"></div>
			<div class="layout-bottom"></div>
		</div>

		<div class="layout-content">
			<div class="layout-content-in">
				{include content}
			</div>
		</div>

	</div>

	{block scripts}
		{analytics()}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" defer></script>
		<script src="{$assetsPath}/node_modules/lightbox2/dist/js/lightbox.js" defer></script>
		{*eu_cookies($activeLang)*}
		{*<script src="{$assetsPath}/scripts/{$buildstamp}index.js" defer></script>*}
	{/block}

	{wp_footer()}

</body>
</html>
