{extends @layout.latte}

{block title}
	Projects
{/block}

{block #content}
<article class="article">
	<div class="grid">
		<div class="grid-in">
			<section class="grid-item" n:each>
				<div class="grid-item-in">
					<a href="{$Post|wp_permalink}" class="grid-link">
						<div class="grid-title">
							{$Post|wp_title}
						</div>
					</a>
					<div class="grid-image">
						{include "components/image.latte",
							imageId => get_post_thumbnail_id($Post),
							sizes => '(min-width: 1200px) 35vw, (min-width: 480px) 50vw, 100vw',
						}
					</div>
				</div>
			</section>
		</div>
	</div>
</article>

{the_posts_pagination([
	prev_text => 'Previous',
	next_text => 'Next',
])}
