{extends @layout.latte}

{block title}
	{each}
		{$Post|wp_title}
	{/each}
{/block}

{block #content}
<article n:each class="article">

	{capture $content}{$Post|wp_content}{/capture}
	<div class="wysiwyg" n:if="$content">
		{$content}
	</div>

	{include "components/boxes.latte",
		Post => $Post,
	}
	{include "components/timeline.latte",
		Post => $Post,
	}

</article>
